# E-Library Prestasi - Environment Variables

# MongoDB Connection String
# For local MongoDB: mongodb://localhost:27017/elibrary
# For MongoDB Atlas: mongodb+srv://<username>:<password>@cluster.mongodb.net/elibrary
MONGODB_URI=mongodb://localhost:27017/elibrary

# Next.js
NEXT_PUBLIC_API_URL=http://localhost:3000
